@model MedInsight.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itching" class="control-label"></label>
                <input asp-for="Itching" class="form-control" />
                <span asp-validation-for="Itching" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinRash" class="control-label"></label>
                <input asp-for="SkinRash" class="form-control" />
                <span asp-validation-for="SkinRash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NodalSkinEruptions" class="control-label"></label>
                <input asp-for="NodalSkinEruptions" class="form-control" />
                <span asp-validation-for="NodalSkinEruptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContinuousSneezing" class="control-label"></label>
                <input asp-for="ContinuousSneezing" class="form-control" />
                <span asp-validation-for="ContinuousSneezing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shivering" class="control-label"></label>
                <input asp-for="Shivering" class="form-control" />
                <span asp-validation-for="Shivering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chills" class="control-label"></label>
                <input asp-for="Chills" class="form-control" />
                <span asp-validation-for="Chills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JointPain" class="control-label"></label>
                <input asp-for="JointPain" class="form-control" />
                <span asp-validation-for="JointPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StomachPain" class="control-label"></label>
                <input asp-for="StomachPain" class="form-control" />
                <span asp-validation-for="StomachPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acidity" class="control-label"></label>
                <input asp-for="Acidity" class="form-control" />
                <span asp-validation-for="Acidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UlcersOnTongue" class="control-label"></label>
                <input asp-for="UlcersOnTongue" class="form-control" />
                <span asp-validation-for="UlcersOnTongue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuscleWasting" class="control-label"></label>
                <input asp-for="MuscleWasting" class="form-control" />
                <span asp-validation-for="MuscleWasting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vomiting" class="control-label"></label>
                <input asp-for="Vomiting" class="form-control" />
                <span asp-validation-for="Vomiting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurningMicturition" class="control-label"></label>
                <input asp-for="BurningMicturition" class="form-control" />
                <span asp-validation-for="BurningMicturition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpottingUrination" class="control-label"></label>
                <input asp-for="SpottingUrination" class="form-control" />
                <span asp-validation-for="SpottingUrination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fatigue" class="control-label"></label>
                <input asp-for="Fatigue" class="form-control" />
                <span asp-validation-for="Fatigue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightGain" class="control-label"></label>
                <input asp-for="WeightGain" class="form-control" />
                <span asp-validation-for="WeightGain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColdHandsAndFeet" class="control-label"></label>
                <input asp-for="ColdHandsAndFeet" class="form-control" />
                <span asp-validation-for="ColdHandsAndFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightLoss" class="control-label"></label>
                <input asp-for="WeightLoss" class="form-control" />
                <span asp-validation-for="WeightLoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightLoss" class="control-label"></label>
                <input asp-for="WeightLoss" class="form-control" />
                <span asp-validation-for="WeightLoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restlessness" class="control-label"></label>
                <input asp-for="Restlessness" class="form-control" />
                <span asp-validation-for="Restlessness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lethargy" class="control-label"></label>
                <input asp-for="Lethargy" class="form-control" />
                <span asp-validation-for="Lethargy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatchesInThroat" class="control-label"></label>
                <input asp-for="PatchesInThroat" class="form-control" />
                <span asp-validation-for="PatchesInThroat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IrregularSugarLevel" class="control-label"></label>
                <input asp-for="IrregularSugarLevel" class="form-control" />
                <span asp-validation-for="IrregularSugarLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighFever" class="control-label"></label>
                <input asp-for="HighFever" class="form-control" />
                <span asp-validation-for="HighFever" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SunkenEyes" class="control-label"></label>
                <input asp-for="SunkenEyes" class="form-control" />
                <span asp-validation-for="SunkenEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breathlessness" class="control-label"></label>
                <input asp-for="Breathlessness" class="form-control" />
                <span asp-validation-for="Breathlessness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sweating" class="control-label"></label>
                <input asp-for="Sweating" class="form-control" />
                <span asp-validation-for="Sweating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dehydration" class="control-label"></label>
                <input asp-for="Dehydration" class="form-control" />
                <span asp-validation-for="Dehydration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indigestion" class="control-label"></label>
                <input asp-for="Indigestion" class="form-control" />
                <span asp-validation-for="Indigestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headache" class="control-label"></label>
                <input asp-for="Headache" class="form-control" />
                <span asp-validation-for="Headache" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YellowishSkin" class="control-label"></label>
                <input asp-for="YellowishSkin" class="form-control" />
                <span asp-validation-for="YellowishSkin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DarkUrine" class="control-label"></label>
                <input asp-for="DarkUrine" class="form-control" />
                <span asp-validation-for="DarkUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nausea" class="control-label"></label>
                <input asp-for="Nausea" class="form-control" />
                <span asp-validation-for="Nausea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LossOfAppetite" class="control-label"></label>
                <input asp-for="LossOfAppetite" class="form-control" />
                <span asp-validation-for="LossOfAppetite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainBehindTheEyes" class="control-label"></label>
                <input asp-for="PainBehindTheEyes" class="form-control" />
                <span asp-validation-for="PainBehindTheEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackPain" class="control-label"></label>
                <input asp-for="BackPain" class="form-control" />
                <span asp-validation-for="BackPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constipation" class="control-label"></label>
                <input asp-for="Constipation" class="form-control" />
                <span asp-validation-for="Constipation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbdominalPain" class="control-label"></label>
                <input asp-for="AbdominalPain" class="form-control" />
                <span asp-validation-for="AbdominalPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diarrhea" class="control-label"></label>
                <input asp-for="Diarrhea" class="form-control" />
                <span asp-validation-for="Diarrhea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MildFever" class="control-label"></label>
                <input asp-for="MildFever" class="form-control" />
                <span asp-validation-for="MildFever" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YellowUrine" class="control-label"></label>
                <input asp-for="YellowUrine" class="form-control" />
                <span asp-validation-for="YellowUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YellowingOfEyes" class="control-label"></label>
                <input asp-for="YellowingOfEyes" class="form-control" />
                <span asp-validation-for="YellowingOfEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcuteLiverFailure" class="control-label"></label>
                <input asp-for="AcuteLiverFailure" class="form-control" />
                <span asp-validation-for="AcuteLiverFailure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwellingOfStomach" class="control-label"></label>
                <input asp-for="SwellingOfStomach" class="form-control" />
                <span asp-validation-for="SwellingOfStomach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwelledLymphNodes" class="control-label"></label>
                <input asp-for="SwelledLymphNodes" class="form-control" />
                <span asp-validation-for="SwelledLymphNodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malaise" class="control-label"></label>
                <input asp-for="Malaise" class="form-control" />
                <span asp-validation-for="Malaise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlurredAndDistortedVision" class="control-label"></label>
                <input asp-for="BlurredAndDistortedVision" class="form-control" />
                <span asp-validation-for="BlurredAndDistortedVision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phlegm" class="control-label"></label>
                <input asp-for="Phlegm" class="form-control" />
                <span asp-validation-for="Phlegm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThroatIrritation" class="control-label"></label>
                <input asp-for="ThroatIrritation" class="form-control" />
                <span asp-validation-for="ThroatIrritation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RednessOfEyes" class="control-label"></label>
                <input asp-for="RednessOfEyes" class="form-control" />
                <span asp-validation-for="RednessOfEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SinusPressure" class="control-label"></label>
                <input asp-for="SinusPressure" class="form-control" />
                <span asp-validation-for="SinusPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunnyNose" class="control-label"></label>
                <input asp-for="RunnyNose" class="form-control" />
                <span asp-validation-for="RunnyNose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Congestion" class="control-label"></label>
                <input asp-for="Congestion" class="form-control" />
                <span asp-validation-for="Congestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChestPain" class="control-label"></label>
                <input asp-for="ChestPain" class="form-control" />
                <span asp-validation-for="ChestPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaknessInLimbs" class="control-label"></label>
                <input asp-for="WeaknessInLimbs" class="form-control" />
                <span asp-validation-for="WeaknessInLimbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FastHeartRate" class="control-label"></label>
                <input asp-for="FastHeartRate" class="form-control" />
                <span asp-validation-for="FastHeartRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainDuringBowelMovements" class="control-label"></label>
                <input asp-for="PainDuringBowelMovements" class="form-control" />
                <span asp-validation-for="PainDuringBowelMovements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainInAnalRegion" class="control-label"></label>
                <input asp-for="PainInAnalRegion" class="form-control" />
                <span asp-validation-for="PainInAnalRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodyStool" class="control-label"></label>
                <input asp-for="BloodyStool" class="form-control" />
                <span asp-validation-for="BloodyStool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IrritationInAnus" class="control-label"></label>
                <input asp-for="IrritationInAnus" class="form-control" />
                <span asp-validation-for="IrritationInAnus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeckPain" class="control-label"></label>
                <input asp-for="NeckPain" class="form-control" />
                <span asp-validation-for="NeckPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dizziness" class="control-label"></label>
                <input asp-for="Dizziness" class="form-control" />
                <span asp-validation-for="Dizziness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cramps" class="control-label"></label>
                <input asp-for="Cramps" class="form-control" />
                <span asp-validation-for="Cramps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bruising" class="control-label"></label>
                <input asp-for="Bruising" class="form-control" />
                <span asp-validation-for="Bruising" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obesity" class="control-label"></label>
                <input asp-for="Obesity" class="form-control" />
                <span asp-validation-for="Obesity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwollenLegs" class="control-label"></label>
                <input asp-for="SwollenLegs" class="form-control" />
                <span asp-validation-for="SwollenLegs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwollenBloodVessels" class="control-label"></label>
                <input asp-for="SwollenBloodVessels" class="form-control" />
                <span asp-validation-for="SwollenBloodVessels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuffyFaceAndEyes" class="control-label"></label>
                <input asp-for="PuffyFaceAndEyes" class="form-control" />
                <span asp-validation-for="PuffyFaceAndEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnlargedThyroid" class="control-label"></label>
                <input asp-for="EnlargedThyroid" class="form-control" />
                <span asp-validation-for="EnlargedThyroid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrittleNails" class="control-label"></label>
                <input asp-for="BrittleNails" class="form-control" />
                <span asp-validation-for="BrittleNails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwollenExtremeties" class="control-label"></label>
                <input asp-for="SwollenExtremeties" class="form-control" />
                <span asp-validation-for="SwollenExtremeties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcessiveHunger" class="control-label"></label>
                <input asp-for="ExcessiveHunger" class="form-control" />
                <span asp-validation-for="ExcessiveHunger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraMaritalContacts" class="control-label"></label>
                <input asp-for="ExtraMaritalContacts" class="form-control" />
                <span asp-validation-for="ExtraMaritalContacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DryingAndTinglingLips" class="control-label"></label>
                <input asp-for="DryingAndTinglingLips" class="form-control" />
                <span asp-validation-for="DryingAndTinglingLips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlurredSpeech" class="control-label"></label>
                <input asp-for="SlurredSpeech" class="form-control" />
                <span asp-validation-for="SlurredSpeech" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KneePain" class="control-label"></label>
                <input asp-for="KneePain" class="form-control" />
                <span asp-validation-for="KneePain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HipJointPain" class="control-label"></label>
                <input asp-for="HipJointPain" class="form-control" />
                <span asp-validation-for="HipJointPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuscleWeakness" class="control-label"></label>
                <input asp-for="MuscleWeakness" class="form-control" />
                <span asp-validation-for="MuscleWeakness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StiffNeck" class="control-label"></label>
                <input asp-for="StiffNeck" class="form-control" />
                <span asp-validation-for="StiffNeck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwellingJoints" class="control-label"></label>
                <input asp-for="SwellingJoints" class="form-control" />
                <span asp-validation-for="SwellingJoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovementStiffness" class="control-label"></label>
                <input asp-for="MovementStiffness" class="form-control" />
                <span asp-validation-for="MovementStiffness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpinningMovements" class="control-label"></label>
                <input asp-for="SpinningMovements" class="form-control" />
                <span asp-validation-for="SpinningMovements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LossOfBalance" class="control-label"></label>
                <input asp-for="LossOfBalance" class="form-control" />
                <span asp-validation-for="LossOfBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unsteadiness" class="control-label"></label>
                <input asp-for="Unsteadiness" class="form-control" />
                <span asp-validation-for="Unsteadiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaknessOfOneBodySide" class="control-label"></label>
                <input asp-for="WeaknessOfOneBodySide" class="form-control" />
                <span asp-validation-for="WeaknessOfOneBodySide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LossOfSmell" class="control-label"></label>
                <input asp-for="LossOfSmell" class="form-control" />
                <span asp-validation-for="LossOfSmell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BladderDiscomfort" class="control-label"></label>
                <input asp-for="BladderDiscomfort" class="form-control" />
                <span asp-validation-for="BladderDiscomfort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoulSmellOfUrine" class="control-label"></label>
                <input asp-for="FoulSmellOfUrine" class="form-control" />
                <span asp-validation-for="FoulSmellOfUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContinuousFeelOfUrine" class="control-label"></label>
                <input asp-for="ContinuousFeelOfUrine" class="form-control" />
                <span asp-validation-for="ContinuousFeelOfUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassageOfGases" class="control-label"></label>
                <input asp-for="PassageOfGases" class="form-control" />
                <span asp-validation-for="PassageOfGases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalItching" class="control-label"></label>
                <input asp-for="InternalItching" class="form-control" />
                <span asp-validation-for="InternalItching" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToxicLook_Typhos" class="control-label"></label>
                <input asp-for="ToxicLook_Typhos" class="form-control" />
                <span asp-validation-for="ToxicLook_Typhos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depression" class="control-label"></label>
                <input asp-for="Depression" class="form-control" />
                <span asp-validation-for="Depression" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Irritability" class="control-label"></label>
                <input asp-for="Irritability" class="form-control" />
                <span asp-validation-for="Irritability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusclePain" class="control-label"></label>
                <input asp-for="MusclePain" class="form-control" />
                <span asp-validation-for="MusclePain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedSpotsOverBody" class="control-label"></label>
                <input asp-for="RedSpotsOverBody" class="form-control" />
                <span asp-validation-for="RedSpotsOverBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BellyPain" class="control-label"></label>
                <input asp-for="BellyPain" class="form-control" />
                <span asp-validation-for="BellyPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbnormalMenstruation" class="control-label"></label>
                <input asp-for="AbnormalMenstruation" class="form-control" />
                <span asp-validation-for="AbnormalMenstruation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischromicPatches" class="control-label"></label>
                <input asp-for="DischromicPatches" class="form-control" />
                <span asp-validation-for="DischromicPatches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WateringFromEyes" class="control-label"></label>
                <input asp-for="WateringFromEyes" class="form-control" />
                <span asp-validation-for="WateringFromEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncreasedAppetite" class="control-label"></label>
                <input asp-for="IncreasedAppetite" class="form-control" />
                <span asp-validation-for="IncreasedAppetite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Polyuria" class="control-label"></label>
                <input asp-for="Polyuria" class="form-control" />
                <span asp-validation-for="Polyuria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHistory" class="control-label"></label>
                <input asp-for="FamilyHistory" class="form-control" />
                <span asp-validation-for="FamilyHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucoidSputum" class="control-label"></label>
                <input asp-for="MucoidSputum" class="form-control" />
                <span asp-validation-for="MucoidSputum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RustySputum" class="control-label"></label>
                <input asp-for="RustySputum" class="form-control" />
                <span asp-validation-for="RustySputum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LackOfConcentration" class="control-label"></label>
                <input asp-for="LackOfConcentration" class="form-control" />
                <span asp-validation-for="LackOfConcentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisualDisturbances" class="control-label"></label>
                <input asp-for="VisualDisturbances" class="form-control" />
                <span asp-validation-for="VisualDisturbances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingBloodTransfusion" class="control-label"></label>
                <input asp-for="ReceivingBloodTransfusion" class="form-control" />
                <span asp-validation-for="ReceivingBloodTransfusion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingUnsterileInjections" class="control-label"></label>
                <input asp-for="ReceivingUnsterileInjections" class="form-control" />
                <span asp-validation-for="ReceivingUnsterileInjections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coma" class="control-label"></label>
                <input asp-for="Coma" class="form-control" />
                <span asp-validation-for="Coma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StomachBleeding" class="control-label"></label>
                <input asp-for="StomachBleeding" class="form-control" />
                <span asp-validation-for="StomachBleeding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistentionOfAbdomen" class="control-label"></label>
                <input asp-for="DistentionOfAbdomen" class="form-control" />
                <span asp-validation-for="DistentionOfAbdomen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoryOfAlcoholConsumption" class="control-label"></label>
                <input asp-for="HistoryOfAlcoholConsumption" class="form-control" />
                <span asp-validation-for="HistoryOfAlcoholConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoryOfAlcoholConsumption" class="control-label"></label>
                <input asp-for="HistoryOfAlcoholConsumption" class="form-control" />
                <span asp-validation-for="HistoryOfAlcoholConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fluid_overload" class="control-label"></label>
                <input asp-for="fluid_overload" class="form-control" />
                <span asp-validation-for="fluid_overload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodInSputum" class="control-label"></label>
                <input asp-for="BloodInSputum" class="form-control" />
                <span asp-validation-for="BloodInSputum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProminentVeinsOnCalf" class="control-label"></label>
                <input asp-for="ProminentVeinsOnCalf" class="form-control" />
                <span asp-validation-for="ProminentVeinsOnCalf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Palpitations" class="control-label"></label>
                <input asp-for="Palpitations" class="form-control" />
                <span asp-validation-for="Palpitations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainfulWalking" class="control-label"></label>
                <input asp-for="PainfulWalking" class="form-control" />
                <span asp-validation-for="PainfulWalking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PusFilledPimples" class="control-label"></label>
                <input asp-for="PusFilledPimples" class="form-control" />
                <span asp-validation-for="PusFilledPimples" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blackheads" class="control-label"></label>
                <input asp-for="Blackheads" class="form-control" />
                <span asp-validation-for="Blackheads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scurring" class="control-label"></label>
                <input asp-for="Scurring" class="form-control" />
                <span asp-validation-for="Scurring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinPeeling" class="control-label"></label>
                <input asp-for="SkinPeeling" class="form-control" />
                <span asp-validation-for="SkinPeeling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SilverLikeDusting" class="control-label"></label>
                <input asp-for="SilverLikeDusting" class="form-control" />
                <span asp-validation-for="SilverLikeDusting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallDentsInNails" class="control-label"></label>
                <input asp-for="SmallDentsInNails" class="form-control" />
                <span asp-validation-for="SmallDentsInNails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InflammatoryNails" class="control-label"></label>
                <input asp-for="InflammatoryNails" class="form-control" />
                <span asp-validation-for="InflammatoryNails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blister" class="control-label"></label>
                <input asp-for="Blister" class="form-control" />
                <span asp-validation-for="Blister" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedSoreAroundNose" class="control-label"></label>
                <input asp-for="RedSoreAroundNose" class="form-control" />
                <span asp-validation-for="RedSoreAroundNose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YellowCrustOoze" class="control-label"></label>
                <input asp-for="YellowCrustOoze" class="form-control" />
                <span asp-validation-for="YellowCrustOoze" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prognosis" class="control-label"></label>
                <input asp-for="Prognosis" class="form-control" />
                <span asp-validation-for="Prognosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
