@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Medical Disclaimer</h2>
    <p>
       The content provided on this website, including text, images, and other materials, is for informational purposes only. 
        It is not intended to be a substitute for professional medical advice, diagnosis, or treatment. 
        Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. 
        Never disregard professional medical advice or delay in seeking it because of something you have read on this website.
        <br />
        <br />
        This website does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned. 
        Reliance on any information provided by this website is solely at your own risk. The information is provided on an "as is" basis without any warranties of any kind.
        <br />
        <br />
        If you think you may have a medical emergency, call your doctor, go to the emergency department, or call 911 immediately.
    </p>
    <br />
    <br />
    <br />
    <br />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
